<div class="form_trips">
<%= form_for(@flat) do |f| %>

            <p><%= f.label :name%></p>
            <div class="name">
              <%= f.text_field :name %>
            </div>

            <p><%= f.label :address%></p>
            <div class="ddress">
              <%= f.text_field :address %>
            </div>

            <p><%= f.label :description%></p>
            <div class="description">
              <%= f.text_field :description %>
            </div>

            <p><%= f.label :price_per_night%></p>
            <div class="price">
              <%= f.text_field :price_per_night %>
            </div>

            <p><%= f.label :number_of_guests%></p>
            <div class="guests">
              <%= f.text_field :number_of_guests%>
            </div>

          <div class="input btn"><%= f.submit %></div>
  <% end %>
</div>
