 <%= render 'components/navbar' %>
<div class="wrapper">
  <div class="card-trip-show">
    <h3><%= @flat.name %></h3>
    <p><%= @flat.address %></p>
    <p><%= @flat.description %></p>

  <div class="bottom-info">

    <div class="links-show">
      <%= link_to "Back", flats_path(@flat)%>
      <%= link_to "Edit", edit_flat_path(@flat), class: "orange"%>
      <%= link_to "Remove", flats_path(@flat), class: "red"%>
    </div>

    <div class="price-guest">
        <h2 class="card-trip-pricing"><p>€<%= @flat.price_per_night %></p></h2>
        <h2 class="guests"><p>people <%= @flat.number_of_guests %></p></h2>
    </div>
  </div>

</div>

